body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:425px;
}
#u22671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:425px;
}
#u22671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:323px;
}
#u22672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:425px;
  width:1438px;
  height:323px;
}
#u22672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
