body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:793px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:693px;
  height:192px;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:45px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:466px;
  height:45px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:462px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:45px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:0px;
  width:127px;
  height:45px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:147px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:147px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:96px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:147px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:45px;
  width:466px;
  height:147px;
  text-align:left;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:462px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:147px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:45px;
  width:127px;
  height:147px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:123px;
  word-wrap:break-word;
}
