body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:683px;
}
#u6876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:683px;
}
#u6876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6877 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:381px;
  width:65px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:384px;
}
#u6879 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:176px;
  width:497px;
  height:384px;
}
#u6879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6880 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:188px;
  width:36px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6881 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:511px;
  width:63px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6882 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:511px;
  width:63px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:146px;
}
#u6884 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:188px;
  width:424px;
  height:146px;
}
#u6884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6885 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:271px;
  width:67px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
