body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:686px;
}
#u10007 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:686px;
}
#u10008 {
  position:absolute;
  left:2px;
  top:335px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:613px;
}
#u10009 {
  position:absolute;
  left:328px;
  top:73px;
  width:770px;
  height:613px;
}
#u10010 {
  position:absolute;
  left:2px;
  top:298px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
