body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:1454px;
}
#u10011 {
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:1454px;
}
#u10012 {
  position:absolute;
  left:2px;
  top:719px;
  width:1435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10013 {
  position:absolute;
  left:86px;
  top:402px;
  width:1181px;
  height:850px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
