body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19772 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:800px;
}
#u19773 {
  position:absolute;
  left:2px;
  top:392px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19774 {
  position:absolute;
  left:10px;
  top:110px;
  width:1420px;
  height:660px;
}
#u19775 {
  position:absolute;
  left:2px;
  top:322px;
  width:1416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(139, 156, 172, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19777 {
  position:absolute;
  left:0px;
  top:40px;
  width:1440px;
  height:60px;
}
#u19778 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u19779 {
  position:absolute;
  left:50px;
  top:51px;
  width:91px;
  height:35px;
}
#u19780 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19781 {
  position:absolute;
  left:769px;
  top:61px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u19782 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19783 {
  position:absolute;
  left:835px;
  top:61px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u19784 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19785 {
  position:absolute;
  left:902px;
  top:61px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u19786 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19787 {
  position:absolute;
  left:967px;
  top:61px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u19788 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19789 {
  position:absolute;
  left:1045px;
  top:61px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u19790 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19791 {
  position:absolute;
  left:1110px;
  top:61px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u19792 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19793 {
  position:absolute;
  left:1223px;
  top:61px;
  width:65px;
  height:16px;
  font-size:16px;
  color:#FFFFFF;
}
#u19794 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19795 {
  position:absolute;
  left:1313px;
  top:61px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u19796 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19797 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:40px;
}
#u19798 {
  position:absolute;
  left:2px;
  top:12px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u19799 {
  position:absolute;
  left:50px;
  top:14px;
  width:141px;
  height:15px;
  color:#CCCCCC;
}
#u19800 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u19801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u19801 {
  position:absolute;
  left:191px;
  top:14px;
  width:141px;
  height:15px;
  color:#CCCCCC;
}
#u19802 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u19803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19803 {
  position:absolute;
  left:1163px;
  top:12px;
  width:29px;
  height:14px;
  color:#FFFFFF;
}
#u19804 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19805 {
  position:absolute;
  left:1210px;
  top:12px;
  width:29px;
  height:14px;
  color:#FFFFFF;
}
#u19806 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19807 {
  position:absolute;
  left:1262px;
  top:12px;
  width:57px;
  height:14px;
  color:#FFFFFF;
}
#u19808 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19809 {
  position:absolute;
  left:1349px;
  top:12px;
  width:29px;
  height:14px;
  color:#FFFFFF;
}
#u19810 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19811 {
  position:absolute;
  left:1171px;
  top:61px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u19812 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19813 {
  position:absolute;
  left:50px;
  top:135px;
  width:49px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19814 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:26px;
}
#u19815 {
  position:absolute;
  left:880px;
  top:652px;
  width:496px;
  height:26px;
}
#u19816 {
  position:absolute;
  left:2px;
  top:5px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:2px;
}
#u19818 {
  position:absolute;
  left:20px;
  top:231px;
  width:1400px;
  height:1px;
}
#u19819 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19820 {
  position:absolute;
  left:20px;
  top:232px;
}
#u19820_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19820_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1369px;
  height:539px;
}
#u19821 {
  position:absolute;
  left:-2px;
  top:77px;
  width:1369px;
  height:539px;
}
#u19822 {
  position:absolute;
  left:2px;
  top:262px;
  width:1365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19824 {
  position:absolute;
  left:0px;
  top:20px;
  width:90px;
  height:40px;
}
#u19824_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19824_input:disabled {
  color:grayText;
}
#u19825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19826 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19828 {
  position:absolute;
  left:86px;
  top:20px;
  width:200px;
  height:40px;
  font-size:20px;
}
#u19829 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19830 {
  position:absolute;
  left:90px;
  top:24px;
  width:192px;
  height:31px;
}
#u19830_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19832 {
  position:absolute;
  left:379px;
  top:20px;
  width:100px;
  height:40px;
}
#u19832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19832_input:disabled {
  color:grayText;
}
#u19833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19833 {
  position:absolute;
  left:312px;
  top:30px;
  width:57px;
  height:20px;
}
#u19834 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19836 {
  position:absolute;
  left:542px;
  top:20px;
  width:70px;
  height:40px;
}
#u19836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19836_input:disabled {
  color:grayText;
}
#u19837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19837 {
  position:absolute;
  left:503px;
  top:30px;
  width:29px;
  height:20px;
}
#u19838 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19840 {
  position:absolute;
  left:702px;
  top:20px;
  width:125px;
  height:40px;
}
#u19840_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19840_input:disabled {
  color:grayText;
}
#u19841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19841 {
  position:absolute;
  left:635px;
  top:30px;
  width:57px;
  height:20px;
}
#u19842 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19844 {
  position:absolute;
  left:917px;
  top:20px;
  width:90px;
  height:40px;
}
#u19844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19844_input:disabled {
  color:grayText;
}
#u19845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19845 {
  position:absolute;
  left:850px;
  top:30px;
  width:57px;
  height:20px;
}
#u19846 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u19847 {
  position:absolute;
  left:1030px;
  top:20px;
  width:80px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19847_img.mouseDown {
}
#u19847.mouseDown {
}
#u19848 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u19849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u19849 {
  position:absolute;
  left:1285px;
  top:20px;
  width:80px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u19849_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(126, 142, 157, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u19849.mouseDown {
}
#u19850 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u19851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:26px;
}
#u19851 {
  position:absolute;
  left:865px;
  top:641px;
  width:496px;
  height:26px;
}
#u19852 {
  position:absolute;
  left:2px;
  top:5px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19853 {
  position:absolute;
  left:107px;
  top:132px;
  width:65px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19854 {
  position:absolute;
  left:11px;
  top:132px;
  width:65px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:249px;
}
#u19856 {
  position:absolute;
  left:495px;
  top:161px;
  width:402px;
  height:249px;
}
#u19857 {
  position:absolute;
  left:2px;
  top:116px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19858 {
  position:absolute;
  left:859px;
  top:161px;
  width:33px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19859 {
  position:absolute;
  left:1248px;
  top:177px;
  width:75px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19820_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u19820_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:538px;
}
#u19860 {
  position:absolute;
  left:-3px;
  top:79px;
  width:1370px;
  height:538px;
}
#u19861 {
  position:absolute;
  left:2px;
  top:261px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19863 {
  position:absolute;
  left:0px;
  top:20px;
  width:90px;
  height:40px;
}
#u19863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19863_input:disabled {
  color:grayText;
}
#u19864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19867 {
  position:absolute;
  left:86px;
  top:20px;
  width:200px;
  height:40px;
  font-size:20px;
}
#u19868 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19869 {
  position:absolute;
  left:90px;
  top:24px;
  width:192px;
  height:31px;
}
#u19869_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19871 {
  position:absolute;
  left:503px;
  top:20px;
  width:100px;
  height:40px;
}
#u19871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19871_input:disabled {
  color:grayText;
}
#u19872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19872 {
  position:absolute;
  left:436px;
  top:30px;
  width:57px;
  height:20px;
}
#u19873 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19875 {
  position:absolute;
  left:664px;
  top:20px;
  width:70px;
  height:40px;
}
#u19875_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19875_input:disabled {
  color:grayText;
}
#u19876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19876 {
  position:absolute;
  left:625px;
  top:30px;
  width:29px;
  height:20px;
}
#u19877 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19879 {
  position:absolute;
  left:823px;
  top:20px;
  width:125px;
  height:40px;
}
#u19879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19879_input:disabled {
  color:grayText;
}
#u19880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19880 {
  position:absolute;
  left:756px;
  top:30px;
  width:57px;
  height:20px;
}
#u19881 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19883 {
  position:absolute;
  left:1036px;
  top:20px;
  width:90px;
  height:40px;
}
#u19883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19883_input:disabled {
  color:grayText;
}
#u19884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19884 {
  position:absolute;
  left:969px;
  top:30px;
  width:57px;
  height:20px;
}
#u19885 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u19886 {
  position:absolute;
  left:1148px;
  top:20px;
  width:80px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19886_img.mouseDown {
}
#u19886.mouseDown {
}
#u19887 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u19888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u19888 {
  position:absolute;
  left:1285px;
  top:20px;
  width:80px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u19888_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(126, 142, 157, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u19888.mouseDown {
}
#u19889 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u19890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:26px;
}
#u19890 {
  position:absolute;
  left:865px;
  top:641px;
  width:496px;
  height:26px;
}
#u19891 {
  position:absolute;
  left:2px;
  top:5px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19892 {
  position:absolute;
  left:89px;
  top:132px;
  width:65px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19893 {
  position:absolute;
  left:11px;
  top:132px;
  width:65px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:249px;
}
#u19895 {
  position:absolute;
  left:495px;
  top:161px;
  width:402px;
  height:249px;
}
#u19896 {
  position:absolute;
  left:2px;
  top:116px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19897 {
  position:absolute;
  left:859px;
  top:161px;
  width:33px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19898 {
  position:absolute;
  left:1247px;
  top:179px;
  width:75px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19900 {
  position:absolute;
  left:345px;
  top:20px;
  width:70px;
  height:40px;
}
#u19900_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19900_input:disabled {
  color:grayText;
}
#u19901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19901 {
  position:absolute;
  left:311px;
  top:30px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19902 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19820_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u19820_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:535px;
}
#u19903 {
  position:absolute;
  left:-2px;
  top:79px;
  width:1365px;
  height:535px;
}
#u19904 {
  position:absolute;
  left:2px;
  top:260px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19906 {
  position:absolute;
  left:0px;
  top:20px;
  width:90px;
  height:40px;
}
#u19906_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19906_input:disabled {
  color:grayText;
}
#u19907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19910 {
  position:absolute;
  left:86px;
  top:20px;
  width:200px;
  height:40px;
  font-size:20px;
}
#u19911 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19912 {
  position:absolute;
  left:90px;
  top:24px;
  width:192px;
  height:31px;
}
#u19912_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19914 {
  position:absolute;
  left:379px;
  top:20px;
  width:100px;
  height:40px;
}
#u19914_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19914_input:disabled {
  color:grayText;
}
#u19915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19915 {
  position:absolute;
  left:312px;
  top:30px;
  width:57px;
  height:20px;
}
#u19916 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19918 {
  position:absolute;
  left:542px;
  top:20px;
  width:70px;
  height:40px;
}
#u19918_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19918_input:disabled {
  color:grayText;
}
#u19919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19919 {
  position:absolute;
  left:503px;
  top:30px;
  width:29px;
  height:20px;
}
#u19920 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19922 {
  position:absolute;
  left:702px;
  top:20px;
  width:125px;
  height:40px;
}
#u19922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19922_input:disabled {
  color:grayText;
}
#u19923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19923 {
  position:absolute;
  left:635px;
  top:30px;
  width:57px;
  height:20px;
}
#u19924 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19926 {
  position:absolute;
  left:917px;
  top:20px;
  width:90px;
  height:40px;
}
#u19926_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19926_input:disabled {
  color:grayText;
}
#u19927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19927 {
  position:absolute;
  left:850px;
  top:30px;
  width:57px;
  height:20px;
}
#u19928 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u19929 {
  position:absolute;
  left:1030px;
  top:20px;
  width:80px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19929_img.mouseDown {
}
#u19929.mouseDown {
}
#u19930 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u19931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u19931 {
  position:absolute;
  left:1285px;
  top:20px;
  width:80px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u19931_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(126, 142, 157, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u19931.mouseDown {
}
#u19932 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u19933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:26px;
}
#u19933 {
  position:absolute;
  left:865px;
  top:641px;
  width:496px;
  height:26px;
}
#u19934 {
  position:absolute;
  left:2px;
  top:5px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19935 {
  position:absolute;
  left:109px;
  top:132px;
  width:65px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19936 {
  position:absolute;
  left:11px;
  top:132px;
  width:65px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:249px;
}
#u19938 {
  position:absolute;
  left:495px;
  top:161px;
  width:402px;
  height:249px;
}
#u19939 {
  position:absolute;
  left:2px;
  top:116px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19940 {
  position:absolute;
  left:859px;
  top:161px;
  width:33px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19941 {
  position:absolute;
  left:1249px;
  top:178px;
  width:75px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19820_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u19820_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1369px;
  height:539px;
}
#u19942 {
  position:absolute;
  left:-2px;
  top:78px;
  width:1369px;
  height:539px;
}
#u19943 {
  position:absolute;
  left:2px;
  top:262px;
  width:1365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19945 {
  position:absolute;
  left:0px;
  top:20px;
  width:90px;
  height:40px;
}
#u19945_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19945_input:disabled {
  color:grayText;
}
#u19946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19949 {
  position:absolute;
  left:86px;
  top:20px;
  width:200px;
  height:40px;
  font-size:20px;
}
#u19950 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19951 {
  position:absolute;
  left:90px;
  top:24px;
  width:192px;
  height:31px;
}
#u19951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19953 {
  position:absolute;
  left:379px;
  top:20px;
  width:100px;
  height:40px;
}
#u19953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19953_input:disabled {
  color:grayText;
}
#u19954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19954 {
  position:absolute;
  left:312px;
  top:30px;
  width:57px;
  height:20px;
}
#u19955 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19957 {
  position:absolute;
  left:542px;
  top:20px;
  width:70px;
  height:40px;
}
#u19957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19957_input:disabled {
  color:grayText;
}
#u19958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19958 {
  position:absolute;
  left:503px;
  top:30px;
  width:29px;
  height:20px;
}
#u19959 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19961 {
  position:absolute;
  left:702px;
  top:20px;
  width:125px;
  height:40px;
}
#u19961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19961_input:disabled {
  color:grayText;
}
#u19962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19962 {
  position:absolute;
  left:635px;
  top:30px;
  width:57px;
  height:20px;
}
#u19963 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19965 {
  position:absolute;
  left:917px;
  top:20px;
  width:90px;
  height:40px;
}
#u19965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19965_input:disabled {
  color:grayText;
}
#u19966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19966 {
  position:absolute;
  left:850px;
  top:30px;
  width:57px;
  height:20px;
}
#u19967 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u19968 {
  position:absolute;
  left:1030px;
  top:20px;
  width:80px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19968_img.mouseDown {
}
#u19968.mouseDown {
}
#u19969 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u19970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u19970 {
  position:absolute;
  left:1285px;
  top:20px;
  width:80px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u19970_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(126, 142, 157, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(126, 142, 157, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#7E8E9D;
}
#u19970.mouseDown {
}
#u19971 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  word-wrap:break-word;
}
#u19972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:26px;
}
#u19972 {
  position:absolute;
  left:865px;
  top:641px;
  width:496px;
  height:26px;
}
#u19973 {
  position:absolute;
  left:2px;
  top:5px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19974 {
  position:absolute;
  left:109px;
  top:132px;
  width:65px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19975 {
  position:absolute;
  left:11px;
  top:132px;
  width:65px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:249px;
}
#u19977 {
  position:absolute;
  left:495px;
  top:161px;
  width:402px;
  height:249px;
}
#u19978 {
  position:absolute;
  left:2px;
  top:116px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19979 {
  position:absolute;
  left:859px;
  top:161px;
  width:33px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19980 {
  position:absolute;
  left:1249px;
  top:178px;
  width:75px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19982 {
  position:absolute;
  left:199px;
  top:187px;
  width:150px;
  height:45px;
}
#u19982_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19982.selected {
}
#u19983 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u19984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19984 {
  position:absolute;
  left:49px;
  top:187px;
  width:150px;
  height:45px;
}
#u19984_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19984.selected {
}
#u19985 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u19986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19986 {
  position:absolute;
  left:349px;
  top:187px;
  width:150px;
  height:45px;
}
#u19986_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19986.selected {
}
#u19987 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u19988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19988 {
  position:absolute;
  left:499px;
  top:187px;
  width:150px;
  height:45px;
}
#u19988_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19988.selected {
}
#u19989 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u19990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u19990 {
  position:absolute;
  left:1231px;
  top:135px;
  width:156px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u19991 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u19992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19993 {
  position:absolute;
  left:1206px;
  top:140px;
  width:22px;
  height:22px;
}
#u19994 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:45px;
}
#u19995 {
  position:absolute;
  left:1165px;
  top:162px;
  width:253px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u19996 {
  position:absolute;
  left:2px;
  top:5px;
  width:249px;
  word-wrap:break-word;
}
