body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:677px;
}
#u10446 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:677px;
}
#u10447 {
  position:absolute;
  left:2px;
  top:330px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
