body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:683px;
}
#u11511 {
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:683px;
}
#u11512 {
  position:absolute;
  left:2px;
  top:334px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11513 {
  position:absolute;
  left:1300px;
  top:381px;
  width:65px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11514 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:384px;
}
#u11515 {
  position:absolute;
  left:471px;
  top:176px;
  width:497px;
  height:384px;
}
#u11516 {
  position:absolute;
  left:2px;
  top:184px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11517 {
  position:absolute;
  left:924px;
  top:188px;
  width:36px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11518 {
  position:absolute;
  left:819px;
  top:511px;
  width:63px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11519 {
  position:absolute;
  left:890px;
  top:511px;
  width:63px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11520 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:146px;
}
#u11521 {
  position:absolute;
  left:500px;
  top:188px;
  width:424px;
  height:146px;
}
#u11522 {
  position:absolute;
  left:2px;
  top:65px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11523 {
  position:absolute;
  left:835px;
  top:271px;
  width:67px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
