body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1662px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1405px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u22598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1405px;
  height:80px;
}
#u22598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22599 {
  border-width:0px;
  position:absolute;
  left:1502px;
  top:127px;
  width:160px;
  height:40px;
}
#u22599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u22600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u22600 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:21px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u22600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:617px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22601 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:124px;
  width:1042px;
  height:617px;
}
#u22601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22602 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:143px;
  width:99px;
  height:24px;
  color:#999999;
}
#u22602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u22603 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:146px;
  width:924px;
  height:578px;
  overflow:hidden;
}
#u22603_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:578px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22603_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22604 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22605 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22606 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:0px;
  width:25px;
  height:20px;
  color:#FFFFFF;
}
#u22606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u22607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22607 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:30px;
  width:143px;
  height:4px;
}
#u22607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:919px;
  height:525px;
  overflow:hidden;
}
#u22608_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:525px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u22608_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22609 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:867px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  word-wrap:break-word;
}
#u22610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22610 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:50px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22611 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:79px;
  width:867px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  word-wrap:break-word;
}
#u22612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22612 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:129px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22613 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:161px;
  width:867px;
  height:20px;
}
#u22613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  word-wrap:break-word;
}
#u22614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22614 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:211px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22615 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:241px;
  width:867px;
  height:20px;
}
#u22615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  word-wrap:break-word;
}
#u22616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22616 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:291px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22617 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:325px;
  width:867px;
  height:20px;
}
#u22617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  word-wrap:break-word;
}
#u22618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22618 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:375px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22619 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:404px;
  width:867px;
  height:20px;
}
#u22619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  word-wrap:break-word;
}
#u22620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22620 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:454px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22621 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:483px;
  width:867px;
  height:20px;
}
#u22621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  word-wrap:break-word;
}
#u22622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22622 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:533px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22623 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:565px;
  width:867px;
  height:20px;
}
#u22623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  word-wrap:break-word;
}
#u22624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22624 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:615px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22625 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:645px;
  width:867px;
  height:20px;
}
#u22625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  word-wrap:break-word;
}
#u22626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22626 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:695px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22627 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:729px;
  width:867px;
  height:20px;
}
#u22627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  word-wrap:break-word;
}
#u22628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22628 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:779px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u22629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:13px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u22629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22629_ann {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-1px;
  width:1px;
  height:1px;
}
#u22630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u22630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:13px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u22630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22630_ann {
  border-width:0px;
  position:absolute;
  left:6px;
  top:75px;
  width:1px;
  height:1px;
}
#u22631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22631 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:0px;
  width:25px;
  height:20px;
  color:#FFFFFF;
}
#u22631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u22603_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:578px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22603_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22632 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22633 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22634 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:0px;
  width:25px;
  height:20px;
  color:#FFFFFF;
}
#u22634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u22635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22635 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:30px;
  width:143px;
  height:4px;
}
#u22635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:908px;
  height:523px;
  overflow:hidden;
}
#u22636_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:523px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u22636_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22637 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:338px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u22638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22638 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:50px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22639 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:129px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22640 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:211px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22641 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:291px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22642 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:375px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22643 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:454px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22644 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:533px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22645 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:615px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22646 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:695px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22647 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:779px;
  width:103px;
  height:16px;
  color:#999999;
}
#u22647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u22648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:13px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u22648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22648_ann {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-1px;
  width:1px;
  height:1px;
}
#u22649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u22649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:13px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u22649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22649_ann {
  border-width:0px;
  position:absolute;
  left:6px;
  top:75px;
  width:1px;
  height:1px;
}
#u22650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22650 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:76px;
  width:338px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u22651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22651 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:155px;
  width:338px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u22652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22652 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:237px;
  width:338px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u22653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22653 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:317px;
  width:338px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u22654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22654 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:401px;
  width:338px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u22655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22655 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:480px;
  width:338px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u22656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22656 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:559px;
  width:338px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u22657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22657 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:641px;
  width:338px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u22658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22658 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:721px;
  width:338px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u22659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22659 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:0px;
  width:25px;
  height:20px;
  color:#FFFFFF;
}
#u22659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u22660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22661 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:751px;
  width:37px;
  height:32px;
  color:#999999;
}
#u22661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u22662 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:757px;
  width:13px;
  height:20px;
  color:#999999;
}
#u22662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22663 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:751px;
  width:37px;
  height:32px;
}
#u22663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u22664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22664 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:751px;
  width:37px;
  height:32px;
  color:#999999;
}
#u22664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u22665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22665 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:751px;
  width:37px;
  height:32px;
  color:#999999;
}
#u22665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u22666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22666 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:751px;
  width:37px;
  height:32px;
  color:#999999;
}
#u22666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u22667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22667 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:751px;
  width:37px;
  height:32px;
  color:#999999;
}
#u22667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u22668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22668 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:751px;
  width:37px;
  height:32px;
  color:#999999;
}
#u22668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u22669 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:757px;
  width:13px;
  height:20px;
  color:#999999;
}
#u22669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
