body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:683px;
}
#u7418 {
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:683px;
}
#u7419 {
  position:absolute;
  left:2px;
  top:334px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7420 {
  position:absolute;
  left:1300px;
  top:381px;
  width:65px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:384px;
}
#u7422 {
  position:absolute;
  left:471px;
  top:176px;
  width:497px;
  height:384px;
}
#u7423 {
  position:absolute;
  left:2px;
  top:184px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7424 {
  position:absolute;
  left:924px;
  top:188px;
  width:36px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7425 {
  position:absolute;
  left:819px;
  top:511px;
  width:63px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7426 {
  position:absolute;
  left:890px;
  top:511px;
  width:63px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7427 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:146px;
}
#u7428 {
  position:absolute;
  left:500px;
  top:188px;
  width:424px;
  height:146px;
}
#u7429 {
  position:absolute;
  left:2px;
  top:65px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7430 {
  position:absolute;
  left:835px;
  top:271px;
  width:67px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
